{
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars":"error"
    },
    "extends": ["eslint:recommended"],
    "env": { 
        "es6": true,
        "browser": true
        
     } 
}