header {
    background-color: #050402;
    font-size: 15px;
    line-height: 150%;
    color: #FAF6F2;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header_wrapper {
    display: flex;
    flex-direction: column;
    width: 1216px;
    margin: 0 auto;
}

.header__up,
.header__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ---------------------------- */
/* -------------UP------------- */
/* ---------------------------- */
.header__up {
    padding: 14px 0;
    border-bottom: 1px solid #524336;
}

.contacts,
.users__block {
    display: flex;
    align-items: center;
}

.contacts__call {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 60px;
}

.tel_number,
.mail_text {
    margin-left: 15px;
}

.messengers {
    position: absolute;
    display: flex;
    top: 22px;
    font-size: 12px;
    line-height: 18px;
    color: #D0D0D0;
}

.messengers li {
    margin-right: 10px;
}

.contacts__mail {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #BB8C5F;
    text-transform: uppercase;
}

.brand_name {
    font-size: 30px;
    line-height: 39px;
}

.brand_field {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25em;
}

.users__block>div {
    margin-left: 60px;
}

.bucket_coast {
    margin-right: 10px;
}

/* ---------------------------------------------------------- */
/* TODO: need add css for borders header__logo and header__up */
/* ----------------------------------------------------------*/

/* ---------------------------- */
/* ---------END UP------------- */
/* ---------------------------- */

/* ---------------------------- */
/*----------DOWN ---------------*/
/* ---------------------------- */
.header__down {
    margin: 13px 0;
}

.catalog {
    font-size: 25px;
    line-height: 35px;
    color: #FAF6F2;
}

.catalog_text {
    margin-right: 10px;
}

.search__wrapper {
    border: 1px solid #524336;
    width: 418px;

}

.header_search {
    font-size: 17px;
    background-color: inherit;
    position: relative;
    line-height: 24px;
    color: #FAF6F2;
}

.search__wrapper>i {
    color: #636B78;
    padding: 10px 17px 10px 22px;
    font-size: 17px;
}

.header_search::placeholder {
    font-size: 15px;
    line-height: 22px;
    color: #636B78;
    background-color: inherit;
}

.inform {
    display: flex;
}

.inform li:not(:first-child) {
    margin-left: 60px;
}

.submenu_container {
    position: absolute;
    background: #F5F5F5;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    color: #3E424B;
    width: 618px;
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
}

.submenu_container_visible {
    position: absolute;
    background: #F5F5F5;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    color: #3E424B;
    width: 618px;
    margin-top: 15px;
    opacity: 1;
    visibility: visible;
}

.submenu_container::before {
    position: absolute;
    content: '';
    top: -35px;
    height: 15px;
    width: 15px;
    border: 20px solid transparent;
    border-bottom: 20px solid #F5F5F5;
    left: 50px;
}

.submenu {
    margin: 0 50px 50px 50px;
}

.submenu__categories {
    display: flex;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    padding: 30px 0;
    position: relative;
}


.submenu__categories::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -50px;
    border: 1px solid #D0D0D0;
    width: 618px;
}

.submenu__categories li {
    margin-right: 30px;
    color: #BB8C5F;
    cursor: pointer;
}

/* .submenu__categories li:hover {
    color: #BB8C5F;
} */

.submenu__text {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto;
    font-size: 17px;
    line-height: 25px;
    color: #3E424B;
    column-gap: 40px;
}

/* ---------------------------------------------------------- */
/* TODO: fix all to grid*/
/* ----------------------------------------------------------*/